:root{
  --ndaku-primary: #667eea;
  --ndaku-primary-rgb: 102,126,234;
  --ndaku-primary-100: rgba(var(--ndaku-primary-rgb),0.08);
  --ndaku-secondary: #1976d2;
  --ndaku-bg: #ffffff;
  --ndaku-text: #222222;
  /* helpful alpha variants based on primary */
  --ndaku-primary-11: rgba(var(--ndaku-primary-rgb),0.07);
  --ndaku-primary-22: rgba(var(--ndaku-primary-rgb),0.13);
  --ndaku-primary-33: rgba(var(--ndaku-primary-rgb),0.20);
  --ndaku-primary-44: rgba(var(--ndaku-primary-rgb),0.27);
  --ndaku-primary-55: rgba(var(--ndaku-primary-rgb),0.33);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--ndaku-bg);
  color: var(--ndaku-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
